<h1>{{min}}:{{sec}}</h1>
<h1>{{subjectname}}</h1>

<ol>
  <li *ngFor="let question of questions" >
      {{question.question}}
      <br>
      <form [formGroup]="form">
      <span *ngFor="let answer of question.answer">
          <input type="radio"
          class="form-control"
          name={{question.name}}
          formControlName={{question.name}}
           value={{answer.opt}}>
           {{answer.val}}
          <br>
      </span>
    </form>
  </li>
</ol>
<span *ngIf="this.service.qindex==2" >
    <button (click)="resultPage();">finish test</button>
</span>
<span *ngIf="this.service.qindex < 2">
    <button (click)="changeQuestion();">next</button>    
</span>
